{% extends 'base.html.twig' %}

{% block title 'Confirmation' %}

{% block body %}
    <p>Nom : {{ user.name }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Phone : {{ user.phone }}</p>
{% endblock %}
