{% extends 'base.html.twig' %}

{% block title 'Success' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center bg-white shadow-lg p-5 radius" style="box-shadow: 0 24px 32px 20px rgba(0, 255, 0, 0.3) !important;border-radius: 10px;">
            <h1 class="mb-4">Succès !</h1>
            <p class="mb-4">Votre souscription a été enregistrée avec succès.</p>
            <a
                    href="{{ path('onboarding_step', {step: 1}) }}"
                    class="btn btn-primary"
            >
                Faire une autre souscription
            </a>
        </div>
    </div>


{% endblock %}